
.controlPanel
  %h4
    Szybki panel
  -if user_signed_in?
    Zalogowany jako: 
    = current_user.email
    %br
    = link_to "Wyloguj", destroy_user_session_path
  -else
    Witaj nieznajomy!
    %br
    = link_to "Zaloguj się", new_user_session_path
    lub
    = link_to "zarejestruj się.", new_user_registration_path
