body {
  margin: 0px;
  background:  url(content_background.jpg); 
}


.wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.miniWrapper {
  margin-top: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  background: white;
  border: 1px solid #c0c0c0;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
  border-radius:3px; 

  padding: 20px 20px 10px 20px;
  box-shadow: 2px 2px 10px black;
  -moz-box-shadow: 2px 2px 10px black;
  -webkit-box-shadow: 2px 2px 10px black;
}

#homeTitle {
  background: #F5ECCE ;
  border: 1px solid #c0c0c0;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
  border-radius:3px; 

  padding: 20px 20px 10px 20px;
  box-shadow: 2px 2px 10px black;
  -moz-box-shadow: 2px 2px 10px black;
  -webkit-box-shadow: 2px 2px 10px black;
}

#left {
  width: 45%;
  float: left;
}

#right {
  width: 35%;
  float: right;

}

.clear {
  clear:both;
}

a {
  text-decoration: none;
  color: #FF8000
}




