#homeTitle
  %h1
    Uwierzytelnianie do serwisów www na podstawie certyfikatu
  #left
    %h3
      Wykonał Marcin Szołdrowski, gr. 14k1
  #right
    %h3
      = link_to "Powrót do strony głównej", root_path
  .clear