<!DOCTYPE html>
<html>
  <head>
    <title>Ssl</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <%= render :partial => "/layouts/site_title" %>
      <div class="miniWrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
